name: Deploy Package

on: [issues]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Deploy with Maven
      run: mvn -B deploy -Dregistry=https://maven.pkg.github.com/fi-sp --file pom.xml
